.custom-btn {
    background-color: #fa78aa;
    width: 13rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.custom-btn:hover {
    background-color: #e35e91;
}

body {
    background-color: #d288d2;
}

.header-logo {
    color: #e35e91;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
